NAME_APP="Ai_Trading"
APP_VERSION="0.1"

# ========================= Postgres Config =========================

Postgres_Port  = 5432
Postgres_DBName = "Ai_Trading"
Postgres_Host = "localhost"
Postgres_User = "postgres"
Postgres_Password = "minirag222"

# ========================= RABBITMQ Config =========================
RABBITMQ_DEFAULT_VHOST = "localhost"
RABBITMQ_DEFAULT_USER = "myadmin"
RABBITMQ_DEFAULT_PASS = "mypassword"
#RABBITMQ_DEFAULT_PORTS = 5672


# ========================= LLM Config =========================

DEEPSEEK_API_KEY = ""
OPENAI_API_KEY  = ""
QWEN_kEY = ""
BINANCE_API_KEY  = ""

